/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('');
    background-size: auto 100vh; 
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
}

  /* se a tela tiver pelo menos 400 pixels vai carregar estes estilos*/
@media(min-width: 400px){
  body {
    font-size: 14px;
  }
}

/*breakpoint*/
@media(min-width: 600px){
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  font-size: 24px;
  color: teal;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8em;
}

.img-icon {
  width: 180px;
  height: 180px;
}

.footer {
  width: 100%;
  position: absolute;
  background-color: #000000;
  padding: 2em 0;
}
.footer .img-icon {
  height: 3em;
  width: 3em;
  margin-bottom: 1em;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2ch;
}
.footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-decoration: none;
  padding-bottom: 2em;
}
@media (min-width: 600px) {
  .footer {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .footer ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
  }
  .footer ul li {
      margin: 0 5%;
  }
  .footer ul li a {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-decoration: none;
      width: auto;
  }
  .footer .img-icon {
      margin: 0 20%;
  }
}